/*--- Font --*/ 
@font-face {
    font-family: comfortaaMedium;
    src: url('fonts/Comfortaa/static/Comfortaa-Medium.ttf');
}
@font-face {
    font-family: comfortaaLight;
    src: url(fonts/Comfortaa/static/Comfortaa-Light.ttf);
}
.carousel h1, h3 {
    font-family: comfortaaMedium;
}
header .logo {
    width: 5rem;
    border-radius: 50%;
}
.navbar-nav{
    text-align: right;
}
.navbar-nav{
    text-align: right;
}
.center {
    display: block; 
    margin-right: auto;
    margin-left: auto;
}
nav {
    background-color: #212121
}
/*--- Footer --*/
footer {
    color: #d5d5d5;
    background-color: #212121;
    padding-top: 2rem;
}
footer .logo {
    border-radius:50%;
}
.fa-facebook {
    color: #3b5998;
}
.fa-instagram {
    color: #b8358d;
}
.social a {
    font-size: 2.5em;
    padding: 1rem;
}
/*--- Carousel --*/
.carousel-inner img {
    width: 100%;
}
.carousel-caption h1 {
    position: relative;
    top: 50%;
    transform: translateY(-250%);
}
.carousel-caption h3 {
    position: relative;
    top: 50%;
    transform: translateY(-650%);
}
.carousel-caption button {
    position: relative;
    top: 50%;
    transform: translateY(-400%);
}
/*--- 2 Column --*/
.column-image {
    height: 300px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.column-padding {
    padding: 2rem;
    background-color: #212121;
}
.column-text {
    color: white;
}
/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 30em;
    margin: 0!important;
  }
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #fixed {
    background-image: url('img/bar.jpeg');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
  }
  
