/*--- Font --*/ 
@font-face {
    font-family: comfortaaMedium;
    src: url('fonts/Comfortaa/static/Comfortaa-Medium.ttf');
}
@font-face {
    font-family: comfortaaLight;
    src: url('fonts/Comfortaa/static/Comfortaa-Light.ttf')
}
.carousel-caption h1, h3 {
    font-family: comfortaaMedium;
}
.navbar-font {
    font-family: comfortaaMedium !important;
}
.menuTab-font {
    font-family: comfortaaMedium;
}
.card-text {
    font-family: comfortaaLight;
}
.card-title {
    font-family: comfortaaMedium;
}
.carousel-caption button {
    font-family: comfortaaMedium
}
.column-text h2 {
    font-family: comfortaaMedium;
}
.column-text p {
    font-family: comfortaaLight;
}
.footer-font h5 {
    font-family: comfortaaMedium;
}
.footer-font p {
    font-family: comfortaaLight;
}
.amountWine-font {
    font-family: comfortaaLight;
}
body {
    background-color: #000;
}

/*--- Navigation Bar --*/
header .logo {
    width: 5rem;
    border-radius: 50%;
}
header .navbar-nav {
    text-align: right;
}
.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
header nav {
    background-color: #212121
}
/*--- Footer --*/
footer {
    color: #d5d5d5;
    background-color: #212121;
    padding-top: 2rem;
}
footer .logo {
    border-radius: 50%;
}
.fa-facebook {
    color: #3b5998;
}
.fa-instagram {
    color: #b8358d;
}
.social a {
    font-size: 2.5em;
    padding: 1rem;
}
/*--- Carousel --*/
.carousel-inner img {
    width: 100%;
}
.carousel-item{
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom:initial;
    text-shadow: 2px 2px black, 2px 2px black;
}
.carousel-caption h1 {
    font-size: 1.8em;
}
.carousel-caption h3 {
    font-size:1em;
}
.carousel-caption button {
    font-size:1em;
    padding: .3em;
}
.btn-primary {
    background-color:#b00012;
    border: 1px solid #b00012;
}
.btn-primary:hover {
    background-color: #92000f;
    border: 1px solid #92000f;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #990010;
    border: 1px solid #990010;
}
@media screen and (min-width: 576px) {
    .carousel-caption h1 {
        font-size: 3em;
    }
    .carousel-caption h3 {
        font-size:1.3em;
    }
    .carousel-caption button {
        margin-top:.7em;
        font-size:1.1em;
        padding: .4em;
    }
  }
@media screen and (min-width: 820px) {
.carousel-caption h1 {
    font-size: 5em;
}
.carousel-caption h3 {
    font-size:2em;
}
.carousel-caption button {
    margin-top:.7em;
    font-size:1.8em;
    padding: .3em;
    margin-left:5px;
    margin-right:5px;
}
}
/*--- 2 Column --*/
.column-image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.column-padding {
    padding: 2rem;
    background-color: #212121;
}

.column-text {
    color: white;
    padding-top: 1rem;
}
/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 30em;
    margin: 0 !important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fixed {
    background-image: url('img/bar.jpeg');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}
/*--- Contact Us Page --*/

.contact h1 {
    font-family: comfortaaMedium;
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
}

.contact h4 {
    font-family: comfortaaLight;
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
    text-align: center;
}
.input-container label{
    font-family:comfortaaLight;
}
/*--- Events ---*/
.events {
    background-color: black;
}
.events h1 {
    font-family: comfortaaMedium;
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
}
.events .column-padding {
    background-color: #000;
}
.events-title {
    font-family: comfortaaMedium;
    font-size: 72px
}
/*--- Inputs --*/
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}
.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}
.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}
.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}
input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}
textarea {
    width: 100%;
    min-height: 15em;
}
.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}
.submit-btn {
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.submit-btn:hover {
    transform: translateY(1px);
    background-color: #3878e6;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}


@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}
@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}
input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 
input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}
/*--- Gallery Page --*/
.top-buffer {
    margin-top: 10px;
    margin-bottom: 10px;
}
.image-width {
    width: 100%;
}
.text-center {
    text-align: center;
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
/*--- Menus --*/
#wagner{
    width:80%;
}
.menu .card-body{
    text-align: center;
}
.menu{
    padding-left: 15%;
    padding-right: 15%;
}
.menu .card{
    margin-bottom: 1em;
}
.menu-item {
    text-align:left;
    margin-left: 1em;
}
.menu-price {
    text-align: right;
    margin-right: 1em;
}
.drink-price-headers{
    text-align: right;
    margin-bottom: .5em;
    font-size:.9em;
}
#prop-choice-price{
    margin-top:1.5em;
    font-size:1.2em;
}
.card ul{
    list-style: none;
    padding-left: 0;
}
.card-text p {
    width: 90%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    font-size: .8em;
    margin-left: 2em;
}
.extra-menu-info h6 {
    margin-left:1.5em;
}
.extra-menu-info ul {
    list-style: none;
    margin-left: 3em;
}
.extra-menu-info {
    text-align: left;
}
    /* menu tabs */
.menu-control{
    font-size:1.2em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}
.menu-control .nav-link.active{
    background-color: #b00012;
}
.menu-control .nav-link{
    color:#b00012;
}
.menu-control .nav-link:hover:not(.active){
    color:#92000f;
}
#wineglass{
    width:30%;
}

/* accordion */
.accordion-button::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-header{
    border-bottom: 1px solid white;
    
}
.accordion-button{
    color:white;
}
.accordion-button:not(.collapsed) {
    color: #212529;
    background-color: white;
    font-weight: bold;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-body{
    padding-left:0;
    padding-right:0;
}

/*--- Order Now --*/
/* .spacing {
    padding-top: 5.7%;
} */
.orderButton-align {
    text-align: center;
    margin-right: 2.4em;
}