/*--- Font --*/
@font-face {
    font-family: comfortaaMedium;
    src: url('fonts/Comfortaa/static/Comfortaa-Medium.ttf');
}

@font-face {
    font-family: comfortaaLight;
    src: url('fonts/Comfortaa/static/Comfortaa-Light.ttf')
}
body {
    background-color: #000;
    font-family: comfortaaMedium, cursive;
}

/*--- Navigation Bar --*/
header .logo {
    width: 5rem;
    border-radius: 50%;
    margin-left: .8em;
}

header .navbar-nav {
    text-align: right;
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

header nav {
    background-color: #212121
}

/*--- Footer --*/
footer {
    color: #d5d5d5;
    background-color: #212121;
    padding-top: 2rem;
}

footer p {
    font-family: comfortaaLight, cursive;
}

footer .logo {
    border-radius: 50%;
}

.fa-facebook {
    color: #3b5998;
}

.fa-instagram {
    color: #b8358d;
}

.social a {
    font-size: 2.5em;
    margin: 1rem;
}

/* scroll to top */
#scrollButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 5;
    border: none;
    outline: none;
    background-color: #b00012;
    color: white;
    cursor: pointer;
    padding: 15px;
    padding-right: 30px;
    border-radius: 10px;
    font-size: 18px;
    height: 50px;
    width: 40px;
    text-align: center;
}

#scrollButton:hover {
    background-color: #92000f;
    /* Adds a dark red background on hover */
}


/*--- Carousel --*/
.carousel-inner img {
    width: 100%;
}

.carousel-item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    text-shadow: 2px 2px black, 2px 2px black;
}

.carousel-caption h1 {
    font-size: 1.8em;
}

.carousel-caption h3 {
    font-size: 1em;
}

.carousel-caption button {
    font-size: 1em;
    padding: .3em;
}

.btn-primary {
    background-color: #b00012;
    border: 1px solid #b00012;
}

.btn-primary:hover {
    background-color: #92000f;
    border: 1px solid #92000f;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.btn-primary:focus {
    background-color: #b00012;
    border: 1px solid #b00012;
}

button:focus {
    outline: none;
}



/*--- 2 Column --*/
.column-image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.column-padding {
    padding: 2.1rem;
    background-color: #212121;
}

.column-text {
    color: white;
    padding-top: 1rem;
    font-family: comfortaaLight, cursive;
}

p>a {
    color: #b00012;
}

p>a:hover {
    color: #92000f;
}

/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 30em;
    margin: 0 !important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fixed {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

#fixed1 {
    background-image: url('img/bar.jpeg');
}

#fixed2 {
    background-image: url('img/interior.jpg');
}

/*--- Contact Us Page --*/


.contact h4 {
    font-family: comfortaaLight, cursive;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 1.5;
    text-align: center;
}

.input-container label {
    font-family: comfortaaLight, cursive;
}

/*--- Events ---*/
.events {
    background-color: black;
}

#events-info hr.large-rule {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: white 3px solid;
}

#events-info hr.large-rule+p {
    font-size: 1.4em;
}

#events-info p {
    margin-bottom: 1.5em;
}

#events-info .lead {
    font-size: 2em;
}
.row.emphasized{
    background-color: #212121;
    padding: 1em;
}
.row.emphasized p{
    margin-bottom: 0 !important;
}

h1.title {
    font-family: comfortaaMedium, cursive;
    font-weight: 600;
    font-size: 50px;
    color: white;
    text-align: center;
}

.title {
    padding-top: .5em;
}

.events .menu-price {
    letter-spacing: .1em;
}

.events h5 {
    font-weight: bold;
}

.events h3 {
    font-weight: bold;
    margin-top: .5em;
}
.events h5 + ul{
    list-style: disc;
    padding-left: 2rem;
}
.events h3+hr {
    border: solid 2px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#events-info {
    color: white;
}

#set-menus {
    margin-top: 2em;
}

/* this will be set to 'initial' on larger screens */
#dessertsLg {
    display: none;
}

/* phone number */
.tel {
    color: #b00012;
    text-decoration: none;
}

.tel:hover {
    color: #92000f;
}

/*--- Inputs --*/
input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 100%;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus {
    outline: 0;
}

input:focus~span,
textarea:focus~span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #b00012;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
        0 2px 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 100%;
    float: none;
    text-align: center;
}

.submit-btn:hover {
    transform: translateY(1px);
    background-color: #92000f;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}
@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

input[type=checkbox]+label {
    color: #ccc;
    font-style: italic;
}

input[type=checkbox]:checked+label {
    color: #f00;
    font-style: normal;
}

/*--- Gallery Page --*/
.top-buffer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-width {
    width: 100%;
}

.text-center {
    text-align: center;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/*--- The Modal (background) --*/
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close {
    position: fixed;
    top: 5%;
    right: 10%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*--- Menus --*/
#wagner {
    width: 70%;
}

.menu .card-body {
    text-align: center;
}

.menu .card-text {
    text-align: left;
}

.menu {
    padding-left: 10%;
    padding-right: 10%;
}

.menu .card {
    margin-bottom: 1em;
}

.menu-item {
    margin-left: 1em;
}

.menu-price {
    text-align: right;
    margin-right: 1em;
}

.drink-price-headers {
    text-align: right;
    margin-bottom: .5em;
    font-size: .9em;
}

#prop-choice-price {
    margin-top: 1.5em;
    font-size: 1.2em;
}

.card ul {
    list-style: none;
    padding-left: 0;
}

.card-text p {
    width: 90%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: .8em;
    margin-left: 2em;
}

.extra-menu-info h6 {
    margin-left: 1.5em;
}

.extra-menu-info ul {
    list-style: none;
    margin-left: 3em;
}

/* menu tabs */
.menu-control {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

.menu-control .nav-link.active {
    background-color: #b00012;
}

.menu-control .nav-link {
    color: #b00012;
}

.menu-control .nav-link:hover:not(.active) {
    color: #92000f;
}

#wineglass {
    width: 5em;
}

/* accordion */
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-header {
    border-bottom: 1px solid white;

}

.accordion-button {
    color: white;
}

.accordion-button:not(.collapsed) {
    color: #212529;
    background-color: white;
    font-weight: bold;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-body {
    padding-left: 0;
    padding-right: 0;
}

/*--- Order Page --*/
#order-menu {
    margin-top: 2em;
}

#order-menu .col-12,
.two-button {
    text-align: right;
}

.two-button {
    margin-top: .2em;
}

#cart-button {
    position: fixed;
    z-index: 1;
    left: 5%;
    bottom: 50%;
}

#cart-button button {
    border-radius: 50%;
    font-size: 2em;
}

#cart-counter {
    position: relative;
    z-index: 2;
    right: 25%;
    transform: translateY(-90%);
}

tr.delete:hover {
    background-color: rgba(228, 35, 35, 0.486);
    cursor: pointer;
}

.total {
    font-weight: bold;
    text-align: right;
}

.offcanvas-body button.active {
    background-color: grey !important;
}

.btn-outline-primary,
.btn-outline-primary:focus,
.btn-outline-primary:active {
    background-color: transparent;
    border: none;
    color: #b00012;
    font-weight: bold;
    border: none;
    box-shadow: none;
}

.btn-outline-primary:hover {
    background-color: transparent;
    color: #92000f;
}

.btn-outline-primary:focus {
    border: none !important;
    box-shadow: none !important;
}

/*--- Food Menu --*/
.dropdown-menu {
    color: #b00012;
}

:focus {
    box-shadow: none !important;
    border: none !important;
}

/* Media Queries (Mobile First) */

@media screen and (min-width: 576px) {

    /*carousel*/
    .carousel-caption h1 {
        font-size: 3em;
    }

    .carousel-caption h3 {
        font-size: 1.3em;
    }

    .carousel-caption button {
        margin-top: .7em;
        font-size: 1.1em;
        padding: .4em;
    }

    /*Wagner Wine Heading */
    #wagner{
        width: 60%;
    }
}

@media screen and (min-width: 700px) {

    /* page titles */
    h1.title {
        font-size: 72px;
    }


    .modal-content {
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    .styled-input {
        width: 293px;
    }

    .submit-btn {
        width: auto;
        float: inherit;
        text-align: inherit;
    }
    /*Wagner Wine Heading */
    #wagner{
        width: 50%;
    }
}


@media screen and (min-width: 820px) {

    /*carousel*/
    .carousel-caption h1 {
        font-size: 5em;
    }

    .carousel-caption h3 {
        font-size: 2em;
    }

    .carousel-caption button {
        margin-top: .7em;
        font-size: 1.8em;
        padding: .3em;
        margin-left: 5px;
        margin-right: 5px;
    }
}




@media screen and (min-width: 992px) {

    /* Moving the Dessert Card on events page to a different column  */
    #dessertsSm {
        display: none;
    }

    #dessertsLg {
        display: inherit;
    }

    /*wineglass on drinks page */
    #wineglass {
        width: 30%;
    }

    /*turn off dropdown for larger screens*/
    .menu-control .dropdown-toggle {
        display: none;
    }
    /*Wagner Wine Heading */
    #wagner{
        width: 15em;
    }
}