
header .logo {
    width: 5rem;
    border-radius: 50%;
}
h1{
    color:blue;
}
.center {
    display: block; 
    margin-right: auto;
    margin-left: auto;
}
footer {
    color: #d5d5d5;
    padding-top: 2rem;
}
footer .logo {
    border-radius:50%;
}
.fa-facebook {
    color: #3b5998;
}
.fa-instagram {
    color: #b8358d;
}
.social a {
    font-size: 2.5em;
    padding: 1rem;
}
.carousel-inner img {
    width: 100%;
}
.column {
    height: 300px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.column-padding {
    padding: 2rem;
}
/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 30em;
    margin: 0!important;
  }
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #fixed {
    background-image: url('img/bar.jpeg');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
  }
  
